<!--Respeite as quebras de linha com aproximadamente o mesmo tanto de caracteres!-->


<head><title>Automacao Arduino</title></head>

<body style='background-color: rgb(0, 128, 192);'>

<div style='width: 720px;padding-right: 60px;padding-left: 60px;margin-right: auto;margin-left: auto;background-color: rgb(170, 255, 255);'>

	<div align='center' style='padding-top: 50px;'><a href=\"/ligar\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>LIGAR TUDO</h1></div></a></div><table width='100%'>

			<tr><td><div align='center'><div style='background-color: rgb(115, 230, 0);'><h1>1</h1></div></div></td>

			<td><div align='center'><div style='background-color: rgb(115, 230, 0);'><h1>2</h1></div></div></td>

			<td><div align='center'><div style='background-color: rgb(115, 230, 0);'><h1>3</h1></div></div></td>

			<td><div align='center'><div style='background-color: rgb(115, 230, 0);'><h1>4</h1></div></div></td>

			<td><div align='center'><div style='background-color: rgb(115, 230, 0);'><h1>5</h1></div></div></td></tr>

			<tr><td><div align='center'><a href=\"/on1\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>ON</h1></div></a></div></td>

			<td><div align='center'><a href=\"/on2\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>ON</h1></div></a></div></td>

			<td><div align='center'><a href=\"/on3\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>ON</h1></div></a></div></td>

			<td><div align='center'><a href=\"/on4\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>ON</h1></div></a></div></td>

			<td><div align='center'><a href=\"/on5\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>ON</h1></div></a></div></td></tr>

			<tr><td><div align='center'><a href=\"/off1\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>OFF</h1></div></a></div></td>

			<td><div align='center'><a href=\"/off2\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>OFF</h1></div></a></div></td>

			<td><div align='center'><a href=\"/off3\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>OFF</h1></div></a></div></td>

			<td><div align='center'><a href=\"/off4\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>OFF</h1></div></a></div></td>

			<td><div align='center'><a href=\"/off5\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>OFF</h1></div></a></div></td></tr>
	</table><div align='center' style='padding-bottom: 10px'><a href=\"/desligar\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>DESLIGAR TUDO</h1></div></a></div>

	<div align='center' style='padding-bottom: 50px'><a href=\"/wifi\"  style='text-decoration-line:none; color: black; '><div style='background-color: rgb(115, 230, 0);'><h1>CONECTAR NO WIFI</h1></div></a></div></div></body>